

<span class="placeholder col-12" style="opacity: 0;"></span>
<h1 class ="display-5" style="text-align: center; text-emphasis: 10;"> Malcolm Wade </h1>
<span class="placeholder col-12 "style="opacity: 0;"></span>
<span class="placeholder col-12 "style="opacity: 0;"></span>
<div class="text-bg-light p-1">
<ul class="nav justify-content-center border border-dark">
  <li class="nav-item">
    <a class="nav-link active" href='{% url "home" %}'>Home</a>
  </li>
<!--   <li class="nav-item">
    <a class="nav-link active" href='{% url "contact" %}'>Contact</a>
  </li> -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'resume' %}">Resume PDF Download</a>
  </li>

</ul>

</div>

<span class="placeholder col-12 "style="opacity: 0;"></span>
<span class="placeholder col-12 "style="opacity: 0;"></span>
<span class="placeholder col-12 "style="opacity: 0;"></span>